__astcache/
__history/
__recovery/
Win32/
Win64/
Win64x/
*.bak
*.dcp
*.dcu
*.dll
*.drc
*.dres
*.bpl
*.bpi
*.il?
*.local
*.map
*.o
*.obj
*.ocx
*.pdi
*.res
# Keep .rc resource sources tracked; ignore generated .res outputs.
*.rsm
*.so
*.stat
*.tds
*.~*
*.@@@
*.twopts
