NTITLE_DOWN_ARROW BITMAP "Risorse\\DownArrow.bmp"
NTITLE_DOWN_ARROW_FLAT BITMAP "Risorse\\DownArrowFlat.bmp"
NTITLE_UP_ARROW BITMAP "Risorse\\UpArrow.bmp"
NTITLE_UP_ARROW_FLAT BITMAP "Risorse\\UpArrowFlat.bmp"
